<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/purple-stars.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    {{title}}
  </a>
</nav>

<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <label>
    Username
    <input type="text" name="username" placeholder="Your username" required>
  </label>
  <label>
    Email
    <input type="email" name="email" placeholder="Your email">
  </label>
  <label>
    Password
    <input type="password" name="password" placeholder="Your password" required>
  </label>
  <button type="submit">Create account</button>
  {{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
  {{/if}}
</form>

<footer class="footer fixed-bottom">
  <div class="container">
    <span> Route APP |
      <br> Copyright © 2020 Ionhack
    </span>
  </div>
</footer>