<h1>Located great street art? Add it here! </h1>

<form action="/streetarts/create" method="POST">
  <label>
    Picture
    <input type="file" name="image">
  </label>
  <label>
    Artist
    <input type="text" name="artist">
  </label>
  <label>
    Name or Description
    <textarea name="name_description" cols="30" rows="2"></textarea>
  </label> <br>

  <label>
    Address
    <input type="double" name="address">
  </label>
  <label>
    Latitude
    <input type="double" name="latitude">
  </label>
  <label>
    Longitude
    <input type="double" name="longitude">
  </label>
  <label><br>

    Other Location Notes
    <input type="text" name="other_location_note" value="{{streetart.other_location_note}}">
  </label>

  <label>
    Comment
    <textarea name="comment" cols="30" rows="2"></textarea>
  </label>

  <button type="submit">Create</button>
</form>
<br>
<a href="/route-search">Back to route map</a>
<br>
<a href="/streetarts">List of all street art</a>