<h2>Zomato</h2>
<div class="search-form">
  <form method="GET" action="/zomato">
    <input class="text-form" type="text" name="restaurant">
    <button class="button" type="submit">Search for an Restaurant</button>
  </form>

</div>