body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

#map {
  height: 500px;
  width: 100%; 
}
.details-title {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
  margin-top: -20px;
}
.graffiti {
  width: 60vw;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.col-sm-4 {
  margin-bottom: 20px!important;
}

  footer {
    display: flex;
    position: fixed;
    margin-top: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #292929;
    color: white;
    font-size: 12px;
    text-align: left;
}