body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  // background-image: url("/downloads/background 1.jpeg") !important;
  // background-size: contain;
  // width: 100%;
  // height: 100%;
}

a {
  color: #00B7FF;
}

#map {
  height: 500px;
  width: 98%;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.save-favorites {
  margin-top: 80px;
  justify-content: center;
  bottom: 13vw;
}


.map-routes {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#places-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 8vw;
}

 #show-street-art {
   position: relative;
 bottom: 4px;

}


#search-places-btn {
  position: relative;
  left: 10px;
  bottom: 4px;
  background-color: #00B7FF !important;
}




.favorite-cards {
 margin-top: 50px;
}

.label-start {
  position: relative;
  width: 220px;
}

.label-end {
  position: relative;
  width: 220px;

}
.details-title {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
  margin-top: -20px;
}
.graffiti {
  width: 60vw;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.col-sm-4 {
  margin-bottom: 20px!important;
}

#background {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#street-art-a1 {
  background-color: #00B7FF !important; 
}

#street-art-a2 {
  background-color: #00B7FF !important;
}

#save-route {
  background-color: #00B7FF !important;
}
  footer {
    width: 110% !important;
    margin-left: -130px !important;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #292929;
    color: white;
    font-size: 12px;
    text-align: left;
}
